<% layout('/layouts/boilerplate') -%>

    <div class="w-1/2 h-2/3 mx-auto mb-5 py-3 ">
        <h3 class="my-3"><%= list.title %></h3>
        <div class="w-full h-[35vh]">
            <img src="<%= list.image %>" alt="image" class="rounded-2xl w-full h-full object-cover">
        </div>
        <ul class="p-0 mt-4">
            <p class="card-text"><i><%= list.owner.username %></i></p>
            <p class="card-text"></p><li><%= list.description %></li></p>
            <p class="card-text"></p><li>₹<%= list.price.toLocaleString("en-In") %></li></p>
            <p class="card-text"></p><li><%= list.location %></li></p>
            <p class="card-text"></p><li><%= list.country %></li></p>
        </ul>

        <% if(currUser && currUser._id.equals(list.owner._id)) { %>
            <div class="flex gap-3">
                <form action="/listings/<%= list._id%>/edit" method="get" >
                    <button class="bg-red-600 text-white rounded-md w-28 h-9 border-none hover:bg-red-500 transition-colors">Edit</button>
                </form>
                <form action="/listings/<%= list._id%>?_method=DELETE" method="post">
                    <button class="bg-slate-950 text-white rounded-md w-24 h-9 border-none hover:bg-[rgb(61,60,60)] transition-colors">
                        Delete
                      </button>
                </form>
            </div>
        <% } %>
        <div>
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=list._id%>/reviews" method="post">
                <div>
                    <label for="rating">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="my-4">
                </div>
                <div>
                    <label for="comment" class="block mt-2 text-sm font-bold">Comments</label>
                    <textarea requried name="review[comment]" id="comment" cols="30" rows="5" class="border p-2 w-full rounded-lg mt-1"></textarea>
                    <button class="block mt-4  rounded-md w-24 h-9 border-2 border-black hover:bg-[rgb(61,60,60)] hover:text-zinc-50 transition-colors">submit</button>
                </div>
            </form>

            <hr>
            <h4 class="mt-4 mb-2">All Reviews</h4>
            <ul>
                <%for(review of list.reviews){ %>
                    <div class="card col-10 ms-0 mb-3 flex-wrap">
                        <div class="card-body">
                            <h5>Jane Doe</h5>
                            <p><%=review.comment %></p>
                            <p><%=review.rating %> stars</p>
                        </div>
                        <form action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=DELETE" method='post' class="p-3">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                <% } %>
            </ul>

            
        </div>
    </div>
